<template>
  <div class="about">
    <div class="text-right mt-5 mb-3">
      <b-button id="model" v-b-modal.modal-1>ลงทะเบียน</b-button>
    </div>
    <!-- <b-table v-if="!datas_api" striped hover :items="items" :fields="fields"></b-table> -->
    <b-table striped hover :items="datas_api" :fields="fields"></b-table>
    <div>
      <b-modal ref="my-modal" id="modal-1" title="Record Data" hide-footer>
        <b-form @submit.prevent="onSubmit" @reset="onReset">
          <b-form-group
            id="input-group-1"
            label="CPU:"
            label-for="input-1"
            description="ได้โปรด ใส่ข้อมูลของ CPU เครื่องนี้"
          >
            <b-form-input
              id="input-1"
              v-model="form.cpu"
              type="text"
              placeholder="detail cpu"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="RAM:"
            label-for="input-2"
            description="ได้โปรด ใส่ข้อมูลของ RAM เครื่องนี้"
          >
            <b-form-input
              id="input-2"
              v-model="form.ram"
              type="text"
              placeholder="detail RAM"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Address:"
            label-for="input-2"
            description="ได้โปรด ใส่ข้อมูลของ MacAddress และ IP Address เครื่องนี้"
          >
            <b-form-input
              class="mb-2"
              id="input-2"
              v-model="form.mac_address"
              type="text"
              placeholder="detail MacAddress"
              required
            ></b-form-input>

            <b-form-input
              id="input-3"
              v-model="form.ip_address"
              type="text"
              placeholder="detail IP Address"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-4"
            label="User:"
            label-for="input-4"
            description="ได้โปรด ใส่ข้อมูลของ User เครื่องนี้"
          >
            <b-form-input
              id="input-4"
              v-model="form.user"
              type="text"
              placeholder="นาย วิชชาการ สิทธิรส"
              required
            ></b-form-input>
            <b-form-select
              id="input-3"
              v-model="form.department"
              :options="department"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group id="input-group-5" v-slot="{ ariaDescribedby }">
            <b-form-checkbox-group
              v-model="form.remark"
              id="checkboxes-5"
              :aria-describedby="ariaDescribedby"
            >
              <b-form-checkbox value="true">ติดตั้ง สำเร็จ</b-form-checkbox>
              <b-form-checkbox value="false">ติดตั้ง ไม่สำเร็จ</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
          <b-row>
            <b-col
              ><b-button type="submit" variant="primary"
                >Submit</b-button
              ></b-col
            >
            <b-col
              ><b-button type="reset" variant="danger">Reset</b-button></b-col
            >
          </b-row>
        </b-form>
      </b-modal>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      form: {
        cpu: "",
        ram: "",
        mac_address: "",
        ip_address: "",
        user: "",
        department: "null",
        remark: [],
      },
      fields: [
        {
          key: "id",
          sortable: false,
        },
        {
          key: "cpu",
          sortable: false,
        },
        {
          key: "ram",
          sortable: false,
        },
        {
          key: "mac_address",
          sortable: true,
        },
        {
          key: "ip_address",
          sortable: true,
        },
        {
          key: "user",
          sortable: true,
        },
        {
          key: "department",
          sortable: true,
        },
        {
          key: "remark",
          sortable: true,
        },
      ],
      items: [
        {
          ID: 1,
          CPU: "Intel Core i7-1355U",
          RAM: "16 GB DDR4 3200 MHz",
          MacAddress: "12:34:56:78:90:AB",
          IPAddress: "10.104.243.21",
          User: "พ.อ.อ.อัครวินท์ ภูกิ่งหิน",
          Remark: "ลงได้",
        },
        {
          ID: 2,
          CPU: "Intel Core i7-1355U",
          RAM: "16 GB DDR4 3200 MHz",
          MacAddress: "12:34:56:78:90:AB",
          IPAddress: "10.104.243.21",
          User: "นาย วิชชาการ สิทธิลส",
          Remark: "ลงได้",
        },
        {
          ID: 3,
          CPU: "Intel Core i7-1355U",
          RAM: "16 GB DDR4 3200 MHz",
          MacAddress: "12:34:56:78:90:AB",
          IPAddress: "10.104.243.21",
          User: "นาย วิชชาการ สิทธิรส",
          Remark: "ลงได้",
        },
        {
          ID: 4,
          CPU: "Intel Core i7-1355U",
          RAM: "16 GB DDR4 3200 MHz",
          MacAddress: "12:34:56:78:90:AB",
          IPAddress: "10.104.243.21",
          User: "นาย วิชชาการ สิทธิลด",
          Remark: "ลงไม่ได้",
        },
      ],
      datas_api: [],
      department: [
        { text: "ได้โปรดเลือก กองงาน", value: null },
        "กองคลัง",
        "กองซ่อม",
        "กองแพทย์",
        "กองขนส่ง",
        "ร้อย บก.นทพ.",
        "บก.สสน.นทพ",
      ],
    };
  },
  methods: {
    onSubmit() {
      // alert(JSON.stringify(this.form));
      axios
        .post(`${process.env.VUE_APP_BACKEND}/record`, this.form)
        .then((response) => {
          console.log(response);
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Your work has been saved",
            showConfirmButton: false,
            timer: 1500,
          });
          this.get_data_api()
          this.hideModal()
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onReset() {
      // this.form.reset();
      this.form.cpu = "";
      this.form.ram = "";
      this.form.mac_address = "";
      this.form.ip_address = "";
      this.form.user = "";
      this.form.remark = "";
      this.form.department = "null";
    },
    get_data_api() {
      axios.get(`${process.env.VUE_APP_BACKEND}/getlist`).then((res) => {
        this.datas_api = res.data;
        console.log(this.datas_api);
      });
    },
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
  },
  mounted() {
    this.get_data_api();
  },
};
</script>