<template>
  <div id="app">
    <!-- <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </nav> -->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#" @click="$router.push('/')"
          >AFDC-SO</b-navbar-brand
        >

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="#" @click="$router.push('/').catch(() => {})"
              >Dashboard</b-nav-item
            >
            <!-- <b-nav-item href="#" @click="$router.push('/about')"
              >Save ข้อมูล</b-nav-item
            > -->
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <b-container fluid>
      <router-view />
    </b-container>
  </div>
</template>

<style>
</style>
